<h1>Лабораторная №12</h1>
<h2>Вычисление квадратного корня методом Ньютона- Рафсона</h2>
<h3>Точность 0.001</h3>
<%= form_tag("/lr8_logic/output", :method => "get") do %>
  <%= label_tag("Введите число:") %> <br/>
  <%= text_field_tag(:v1) %> <br/>
  <%= submit_tag("Вычислить!") %>
<% end %>